<div  [class.english]="lang.dir==='ltr'" [class.arabic]="lang.dir==='rtl'">

  <!-- two ways
 [ngClass]="{'english':lang.dir==='ltr','arabic':lang.dir==='rtl'}"
  -->



  <div>
    <h1>Translation demo</h1>
    <p>This is a simple demonstration app for ngx-translate</p>
  </div>
  <h1>{{"title"| translate}}</h1>
  <div>
    <h1>{{"demo.title"| translate}}</h1>

    <!-- translation: translation pipe -->
    <p routerLink="/admin">{{ 'demo.text'|translate }}</p>

     <p>{{"demo.text" |translate}}</p>

     <p >{{"demo.text" |translate}}</p>
     <!-- <select (onchange)="onLanguageSelected(lang.code)" >
      <option value={{lang.code}} *ngFor="let lang of languages">{{lang.name}}</option>
        [ngClass]="{ active: lang.code=='en',active:lang.code=='ar' }"
        [ngClass]="lang.code=='en' ? 'active' : 'inactive'"

    </select> -->
     <div>
      <!-- <button class="langs"
         (click)="onLanguageSelected(lang.code)"  *ngFor="let lang of languages">
        {{'languages.'+lang.name |translate}}
      </button> -->

      <button class="langs"
      (click)="onLanguageSelected(lang.code)"  *ngFor="let lang of languages">
     {{'languages.'+lang.name |translate}}
   </button>
     </div>

  </div>
  <router-outlet></router-outlet>


</div>
